@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', Arial, Helvetica, sans-serif
}

header{
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-color: rgb(236, 236, 255);
}

.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    height: 30vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.dados{
    background-color: antiquewhite;
    display: flex;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    justify-content: space-between;
}

.quantia, .of, .convert, .to{
    display: flex;
    flex-direction: column;
}

.todos{
    width: 200px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#de{
    width: 70px;
}

#para{
    width: 80px;
}

.p-tamanho{
    font-size: 1.2em;
}

.resultado{
    height: 100%;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.resul-p{
    width: 100px;
    height: 22px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #cbd5ff;
    padding: 10px;
}

.result-btn{
    padding: 10px 15px;
    background-color: rgb(92, 92, 252);
    color: white;
    border-radius: 7px;
    border: 1px solid #5c5c5c;
    font-size: 16px;
}

.result-btn:hover{
    opacity: 0.9;
    cursor: pointer;
    transition: 0.2s;
}

#quantia{
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}